/* .form-box {
    width: 200px;
    height: 200px;
    background-color: brown;
} */

header {
    height: 100px;
}

nav {
    height: 100%;
	/* position: fixed; */
    width: 100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.nav__content {
    height: 100%;
	display: flex;
	align-items: center;
	padding-bottom: 0;
}

#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-img {
    width: 100px;
}

.title-img img {
    width: 100%;
}

.client-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
}

.hidden {
    display: none;
}