body {
    background-color: #e1d8cf;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e1d8cf;
    color: #003366;
    font: bold 1.2rem "Roboto", sans-serif;
}

#hero {
    display: flex;
    justify-content: center;
}

.title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.title-img img {
    max-width: 200px;
}

#premises {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
}

#linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#clinicasContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
}

/* FORMULARIO */
#info-form {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    background-color: yellow;
}

#info-box {
    display: flex;
}

.form-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.form-box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #003366;
    color: #fff;
    border: solid white 8px;
    border-radius: 8px;
    padding: 12px;
    max-width: 400px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form-item label {
    margin-top: 8px;
}

.btn {
    display: flex;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 117, 140, 0.3);
    transition: all 0.3s ease-in-out;
}

/* tarjetas de clínicas */
.card-clinica {
    background-color: #003366;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    width: 280px;

    color: #fff;
}

.card-clinica:hover,
.boton-reset:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-clinica h2 {
    margin: 0;
    font-size: 1.5rem;
}

.card-clinica p {
    margin: 0;
    font-size: 1rem;
}

/* links servicios */
.services-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-service {
    background-color: #272c40;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-service a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    transition: color 0.3s ease;
}

.card-service a:hover {
    color: #003366;
}

/* filtro de localidad */
.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.filter-button label {
    font-size: 1.5rem;
    font-weight: bold;
}

.filter-button select {
    padding: 10px;
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/*  reset */
.reset-button {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.boton-reset {
    background-color: #ff6666;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-reset:hover {
    background-color: #ff4444;
}

.title-img img {
    width: 100%;
}

#client-database {
    display: flex;
}

.client-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
}

.hidden {
    display: none;
}